{% extends 'layouts/default/page1.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
{% if msg %}
{{ msg  }}

<li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:type_Request' %}">{% trans 'Your Requests' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:New_request' %}">{% trans 'Create New Requests' %}</a>
</li>   
{% else %}
<strong>Request_id:</strong>
{{ object }}
<br>
<strong>Requested_by_user:</strong>
{{ object.requested_by_user}}
<br>
<strong>Requested_Type:</strong>
{% for area in object.request_type.all %}{{ area }} ,  {% endfor %}
<br>
<strong>Requested_Desc:</strong>
{{ object.request_desc }}

<br>
<strong>City:</strong>
{{ object.City }}
<br>
<strong>State:</strong>
{{ object.state }}
<br>
<strong>Pincode:</strong>
{{ object.pincode }}
<br>
<strong>Status:</strong>
{{ object.status }}
<br>
<strong>Remarks:</strong>
{{ object.Remarks }}
<br>




    <a class="nav-link" href="{% url 'accounts:update_request' object.id %}">{% trans 'Update Request' %}</a>
<tab></tab>

    <a class="nav-link" href="{% url 'accounts:type_Request' %}">{% trans 'Your Requests' %}</a>
<tab></tab>
    <a class="nav-link" href="{% url 'accounts:New_request' %}">{% trans 'Create New Requests' %}</a>
    <tab></tab>
{% endif %}
{% endblock %}
